beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
Django==4.0.3
djangorestframework==3.13.1
EditorConfig==0.12.3
flake8==4.0.1
ghp-import==2.0.2
idna==3.3
importlib-metadata==4.11.1
Jinja2==3.0.3
jsbeautifier==1.14.0
Markdown==3.3.6
MarkupSafe==2.1.0
mergedeep==1.3.4
mike==1.1.2
mkdocs==1.2.3
mkdocs-autorefs==0.3.1
mkdocs-material==8.2.3
mkdocs-material-extensions==1.0.3
mkdocs-mermaid2-plugin==0.5.2
mkdocstrings==0.18.0
mkdocstrings-python-legacy==0.2.2
packaging==21.3
Pygments==2.11.2
pylint==2.12.2
pymdown-extensions==9.2
pyparsing==3.0.7
python-dateutil==2.8.2
pytkdocs==0.16.0
PyYAML==6.0
pyyaml_env_tag==0.1
requests==2.27.1
six==1.16.0
soupsieve==2.3.1
urllib3==1.26.8
verspec==0.1.0
watchdog==2.1.6
zipp==3.7.0
